.project-form{
    background-color: rgb(180, 165, 165);
    padding:1rem;
    position: relative;
    padding-bottom: 40px;
}

.project-form input{
    width: 100%;
    height:2rem;
    border:none;
    font-size: 1.2rem;
    margin:2rem 0rem;
    background-color: rgb(180, 165, 165);
}

.project-form input:focus{
    outline: none;
    border:1px solid rgb(92, 84, 112);
}

.project-form button{
    position: absolute;
    bottom: 0;
    height:40px;
    width:50%;
    font-size:1rem;
    cursor:pointer;
}

.project-form button.cancel{
    left:0;
    background-color:rgb(92, 84, 112);
    border-right: 1px solid black;
}

.project-form button.confirm{
    right:0;
    background-color:rgb(92, 84, 112);
}