*{
    margin: 0;
    padding: 0;
    border:none;
    list-style-type:none;
    box-sizing:border-box;
    text-decoration: none;
    overflow:hidden;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
}

button{
    cursor:pointer;
}